/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {
    font-family:"Source SC";
    src:url("SourceHanSansSC-Bold-2.otf") format("opentype");
    font-weight:normal;
    font-style:normal;
}
